# Series

- pandas에서 사용하는 1차원 배열
- index를 사용할 수 있습니다.

In [7]:
import pandas as pd
import numpy as np

In [8]:
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [9]:
s = pd.Series(arr) # 대문자 => 클래스 , series는 위에서부터 아래로 형성 
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [11]:
s = pd.Series(arr, dtype='int32')
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int32

In [12]:
s = pd.Series(['kim', 'lee', 'park'])
print(s)

0     kim
1     lee
2    park
dtype: object

In [14]:
s = pd.Series([1, 2, 3, '1', '2', 'hello'])
print(s) # object => 글자데이터를 가르킴

0        1
1        2
2        3
3        1
4        2
5    hello
dtype: object

In [15]:
s[5]

'hello'

In [19]:
# => series는 음수 인덱싱은 지원하지않음
# s[-1]

In [20]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [22]:
names = pd.Series(['kim', 'lee', 'park'], index=['a', 'b', 'c']) # Series, dataframe 에서는 인덱스가 숫자가 아니어도 가능함

In [28]:
# names[0] => 에러가 발생
names.iloc[0]

'kim'

In [29]:
names['a']

'kim'

In [30]:
names.index

Index(['a', 'b', 'c'], dtype='object')

In [32]:
names.values # => data만 보여줌

array(['kim', 'lee', 'park'], dtype=object)

In [33]:
names.ndim

1

In [34]:
names.shape

(3,)

## NaN(Not a Number)

In [35]:
s = pd.Series([1, 2, 3, np.nan])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

## fnacy indexing

In [40]:
f = ['banana', 'apple', 'grape', np.nan]
s = pd.Series(f, index=list('abcd'))
print(s)

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [42]:
s[['d', 'a']]

d       NaN
a    banana
dtype: object

In [45]:
# s[[3, 1]]
s.iloc[[3, 1]]

d      NaN
b    apple
dtype: object

## bool indexing

In [46]:
s

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [47]:
s[[True, False, True, False]]

a    banana
c     grape
dtype: object

In [48]:
s == 'banana'

a     True
b    False
c    False
d    False
dtype: bool

In [49]:
s[s == 'banana']

a    banana
dtype: object

In [52]:
s = pd.Series([1, 5, 3, 4, 2, 6])
s[s > 3]

1    5
3    4
5    6
dtype: int64

## 결측치(NaN) 처리

In [106]:
s = pd.Series([1, 3, np.nan, 10, 11, np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [107]:
s.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [108]:
s.notnull()

0     True
1     True
2    False
3     True
4     True
5    False
dtype: bool

In [109]:
# s[s.isnull()]
s[s.isna()]

2   NaN
5   NaN
dtype: float64

In [110]:
# s[s.notnull()]
s[s.notna()]

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

## slicing

In [62]:
s[1:3]

1    3.0
2    NaN
dtype: float64

In [112]:
s = pd.Series([1, 2, 3], index=list('abc'))
s[1:2]
s['a':'b'] # 인덱스를 글자로 하면 미만이 아닌 포함

a    1
b    2
dtype: int64

# Dataframe
- 2차원 데이터 구조 (excel, sheet와 유사)
- 행(row,가로), 열(column,세로) 구조

In [66]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
])
d # jupyter notebook 에서 dataframe을 다룰 때 print가 아닌 그냥 직접 출력

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [68]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
], columns=['가', '나', '다'])
d

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [69]:
info = {
    'name': ['kim', 'lee', 'park'],
    'age': [10, 20, 30]
}

In [72]:
info_df = pd.DataFrame(info)

In [75]:
info_df.index # 가로부분

RangeIndex(start=0, stop=3, step=1)

In [76]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [77]:
info_df.values

array([['kim', 10],
       ['lee', 20],
       ['park', 30]], dtype=object)

In [78]:
info_df.dtypes

name    object
age      int64
dtype: object

In [82]:
info_df.T # 전치

        0    1     2
name  kim  lee  park
age    10   20    30

## index 지정

In [84]:
info_df.index = list('abc')

In [85]:
info_df

   name  age
a   kim   10
b   lee   20
c  park   30

## column 다루기

In [87]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [89]:
print(info_df['name'])
print(type(info_df['name']))

a     kim
b     lee
c    park
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [91]:
info_df[['age', 'name']] # column의 fancy indexing 하는것과 유사함

   age  name
a   10   kim
b   20   lee
c   30  park

In [100]:
info_df = info_df.rename(columns={'name': '이름'}) # 재할당(info_df = )을 해줘야 원본까지 변화고 하지 않은 경우에는 원본은 그대로 유지됨

In [101]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30

In [102]:
info_df.rename(columns={'이름': 'last_name'}, inplace=True) # inplace 메소드 방식을 사용하면 강제로 변화시킴

In [103]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30